<div class="container-fluid">
  <div class="row bg-primary p-4">
    <div class="col-md-8">
      <div class="text-white">
      <span>
      <i class="fa fa-home fa-2x"></i>
      </span>
        <b>
          {{heading | uppercase}}
        </b>
      </div>
      <div class="p-5 row text-primary">
        <div class="col-md-3">
          <h6 class="text-muted">
            {{investValue?.title | uppercase}}
          </h6>
          <div class="text-white">
            {{investValue?.value | uppercase}}
          </div>
        </div>
        <div class="col-md-3">
          <h6 class="text-muted">
            {{currentInvestment?.title | uppercase}}
          </h6>
          <div class="text-success">
            {{currentInvestment?.value | uppercase}}
          </div>
        </div>
        <div class="col-md-3">
          <h6 class="text-muted">
            {{annualReturn?.title}}
          </h6>
          <div class="text-success">
            {{annualReturn?.value | uppercase}}
            <span class="text-danger">
              <i class="fa fa-arrow-down"></i>
            </span>
          </div>
        </div>
        <div class="col-md-3">
          <h6 class="text-muted">
            {{cashBalance?.title}}
          </h6>
          <div class="text-success">
            {{cashBalance?.value | uppercase}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <div class="donut-chart-block block">
            <div class="donut-chart">
              <div id="section1" class="clip">
                <div class="item" data-rel="21"></div>
              </div>
              <div id="section2" class="clip">
                <div class="item" data-rel="39"></div>
              </div>
              <div id="section3" class="clip">
                <div class="item" data-rel="31"></div>
              </div>
              <div id="section4" class="clip">
                <div class="item" data-rel="9"></div>
              </div>
              <div class="center"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-white">
          <div class="primary-border">
            <span class="ml-2">Equity</span>
            <span class="ml-3">2138%</span>
          </div>
          <div class="mt-2 primary-border">
            <span class="ml-2">Bond</span>
            <span class="ml-3">843.87%</span>
          </div>
          <div class="mt-2 primary-border">
            <span class="ml-2">Others</span>
            <span class="ml-3">316.48%</span>
          </div>
          <div class="mt-2 primary-border">
            <span class="ml-2">Cash</span>
            <span class="ml-3">-3201%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul class="row nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item col-md-6 text-center">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
           aria-controls="pills-home" aria-selected="true">1 Investments</a>
      </li>
      <li class="nav-item col-md-6 text-center">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
           aria-controls="pills-profile" aria-selected="false">1 Goal(s) in planning</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="//placeimg.com/180/180/tech"
                   alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
    </div>
  </div>
</div>
