@import "~bootstrap/scss/bootstrap";

.bg-primary {
  background-color: #040444 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000000 !important;
  background-color: #ffffff !important;
  border-bottom: 4px solid blue !important;
}
